body{
    margin: auto;
  width: 455px;
  border: 3px; 
  padding: 10px;
  background: black;
}

.container{
    border: 3px;
    background: white; 
}

.post{
    border: 3px; 
}

.post-header{
    border: 3px;
    display:flex;
    
    /*justify-content: space-between;*/   
}

.icono-cinco{
    margin-top: 17px;
    margin-left: 5px;
}

.texto{
    width: 150px;
    margin-left: 5px;
    
}

.trespuntos{
    margin-left: 260px;
    margin-top: 16px;
    margin-right: 5px;

}

.post-header div{
    display:flex; 
}

.post-header i{
    font-size: 33px;
}

.imagen{
    border: 3px;
    margin-left: 3px;
    
}

.post-footer{
    border: 3px;   
}

.post-footer i{
    font-size: 25px;
}

.post-icon{
    display:flex;
    justify-content: space-between;   
}

